*,
*::before,
*::after {
    box-sizing: border-box;
}

/*styles the html*/
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

/*Gives a font style to the whole body*/
body {
    font-family: Constantia, "Lucida Bright", Licidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}


/*Gives any paragraph tag a different font-size then the parent font*/
p {
    font-size: 1.6rem;
}

/*styles the View Highscores in the header*/
#view {
    position: relative;
    width: 40%;
    margin-inline-start: 15px;
}

/*Styles the Timer in the header*/
#time-left {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    text-align: right;
    margin-inline-end: 15px;
}

/*styles the div that holds all the quiz content and centers the text*/
#quiz-cards {
    margin: 10% 20%;
    height: 300px;
    width: 60%;
    text-align: center;
}

#quiz-cards p {
    padding: 10px 10px;
}

h1 {
    font-size: 2.5rem;
}

button {
    background-color: #d84beb;
    border-radius: 8px;
    padding: 8px 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 1.6rem;
}

/*Gives the input box a margin to separate it some from the Submit button when it is appended to the quiz div*/
input {
    margin-right: 15px;
}
